.btn {
    user-select: none;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.9px;
    font-weight: 400;
    border: 2px solid $btn-color;
    background: $btn-color;
    transition: all 500ms ease;
    cursor: pointer;
    color: $primary-color;
    margin-top: 30px;
    padding: 8px 30px;

    &:hover {        
        box-shadow: 3px -1px 33px -9px rgba(0,0,0,0.75);
    }
}