//Container Width
$desktopWidth: 1920px;
$laptopWidth: 960px;
$tabletWidth: 720px;

//Media query
$laptopMedia: 1367px;
$tabletMedia: 1023px;
$mobileMedia: 767px;

$white-color: #FFFFFF;
$black-color: #000000;

$fontsize: 16px; // Body Font Size
$textcolor: $black-color; // Text Color
$primary-color: #fff;
$secondary-color: #404040;
$btn-color:  #229BAE;
$roboto: Roboto, sans-serif; // Roboto Font Family